<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Document</title>
		<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/account.css">
		<style type="text/css">
			.ptext {
				color: black;
			}
		</style>
	</head>

	<body>
		<div class="screen container-fluid">
			<!-- 中间内容部分 -->
			<div class="row content">
				<div class="head">
					<div class="headleft">
						<img src="../img/head.jpg" class="img-circle">
						<span th:if="${name!=null}">
							<span th:text="${name}"></span>
						</span>
						<span th:if="${name==null}">
							<span><a th:href="@{/login}">点击登录/注册</a></span>
						</span>
					</div>
				</div>
				<a href="http://localhost:8081/tobuy">
					<div class="pro col-xs-12">购票</div>
				</a>
				<a href="http://localhost:8081/myorder">
					<div class="pro col-xs-12">我的订单</div>
				</a>
				<a href="http://localhost:8081/userinfo">
					<div class="pro col-xs-12">乘客信息</div>
				</a>
				<a href="http://localhost:8081/mycollection">
					<div class="pro col-xs-12">关注项目</div>
				</a>

				<!-- <div class="pro col-xs-12">关注项目</div> -->
				<div class="pro col-xs-12">在线客服</div>
				<div class="pro col-xs-12">系统设置</div>
			</div>
			<div class="row myMessage"></div>
			<!-- 购票部分 -->
			<div class="row buyTicket">
				<div class="closeBtn col-xs-12">
					<span>购票</span> <span class="glyphicon glyphicon-menu-right "></span>
					<button type="button" class="close text-right"><span>&times;</span></button>
				</div>
				<div class="buy01">

				</div>
				<div class="buy02">

				</div>
				<div class="buysuccess">
					<p class="col-xs-12 text-center"></p>
					<p class="col-xs-12 text-center">购票成功!</p>
				</div>
			</div>
			<!-- 乘客信息  -->
			<div class="row userMessage">
				<div class="closeBtn col-xs-12">
					<span>乘客信息</span> <span class="glyphicon glyphicon-menu-right "></span>
					<button type="button" class="close text-right"><span>&times;</span></button>
				</div>
				<div class="user col-xs-12">
					<div class="f_btn">
						<button class='col-xs-offset-9 col-xs-3  btn btn-default add'>添加乘客</button>
					</div>
					<div class="list-group">
					</div>
					<div class="end">
						<p class="text-center">end...</p>
					</div>
				</div>
				<div class="updata col-xs-12">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="name" class="col-xs-2 control-label text-right">姓名:</label>
							<div class="col-xs-10">
								<input type="text" class="form-control" id="name" placeholder="姓名">
							</div>
						</div>
						<div class="form-group">
							<label for="tel" class="col-xs-2 control-label text-right">电话:</label>
							<div class="col-xs-10">
								<input type="number" class="form-control" id="tel" placeholder="电话">
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-offset-2 col-xs-4">
								<button type="button" class="btn btn-default cancel">取消</button>
							</div>
							<div class="col-xs-offset-2 col-xs-4">
								<button type="button" class="btn btn-success submit">添加</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- 乘客信息的模态框 -->
			<div class="modal fade addUserModel" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">修改乘客信息</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="name" class="col-xs-2 control-label text-right">姓名:</label>
									<div class="col-xs-10">
										<input type="text" class="form-control" id="name" placeholder="姓名" value="">
									</div>
								</div>
								<div class="form-group">
									<label for="tel" class="col-xs-2 control-label text-right">电话:</label>
									<div class="col-xs-10">
										<input type="number" class="form-control" id="tel" placeholder="电话" value="">
									</div>
								</div>


							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div>
			<!-- 乘客信息结束  -->
			<!-- 我的订单 -->
			<div class="row orderForm">
				<div class="closeBtn col-xs-12">
					<span>我的订单</span> <span class="glyphicon glyphicon-menu-right "></span>
					<button type="button" class="close text-right"><span>&times;</span></button>
				</div>
				<div class="order list-group">
				</div>
				<div class="orderContent">
					<img src="" class="img-rounded">
					<span class="proname">项目名称</span>
					<p class="text-center">使用人: <span class="username"></span></p>
					<p class="text-center">金&nbsp;&nbsp;&nbsp;&nbsp;额：<span class="money"></span> 元</p>
					<p class="text-right return">返回上一页</p>
				</div>
			</div>

			<!-- 关注项目 -->
			<div class="row attention">
				<div class="closeBtn col-xs-12">
					<span>我的关注</span> <span class="glyphicon glyphicon-menu-right "></span>
					<button type="button" class="close text-right"><span>&times;</span></button>
				</div>
				<div class="row projects">
				</div>
			</div>
			<!-- 在线服务 -->
			<div class="row service">
				<div class="closeBtn col-xs-12">
					<span>在线服务</span> <span class="glyphicon glyphicon-menu-right "></span>
					<button type="button" class="close text-right"><span>&times;</span></button>
				</div>
				<div class="ser_con">
					<div class="que">
						<p class="sercolorp text-left ptext">问题1：园区内有餐厅吗？</p>
						<p class="sercolorp text-left ptext">问题2：园区可以自带食品饮料吗？</p>
						<p class="sercolorp text-left ptext">问题3：园区有婴儿车/轮椅可以租用吗？</p>
						<p class="sercolorp text-left ptext">问题4：官网订的门票有效期多长时间？</p>
						<p class="sercolorp text-left ptext">问题5：免票标准</p>
						<p class="sercolorp text-left ptext">问题6：营业时间</p>

						<a href="http://localhost:8081/toAccount" class="btn-primary btn btn-default btn-block text-center return" style="height: 40px; padding: 10px;">
							返回上一页
						</a>
					</div>

					<div class="answer">
						<p></p>
						<p></p>
						<a href="javascript:void(0)" class="btn-primary btn btn-default btn-block" style="text-align: center;">
							<span class="text-center return" style="height: 25px; padding: 10px; text-align: center; color: white;">返回上一页</span>
						</a>
					</div> 
				</div>
			</div>
			<!-- 系统设置 -->
			<div class="row setSystem">
				<div class="closeBtn col-xs-12">
					<span>系统设置</span> <span class="glyphicon glyphicon-menu-right "></span>
					<button type="button" class="close text-right"><span>&times;</span></button>
				</div>
				<div class="sys_fun">

					<p class="text-center">温馨服务</p>
					<p class="text-center">系统通知</p>
					<p class="text-center">关于我们</p>
					<p class="text-center">注销</p>
					<a href="http://localhost:8081/toAccount" class="btn-primary btn btn-default btn-block text-center return" style="height: 40px; padding: 10px;">
						返回上一页
					</a>
				</div>
				<div class="sys_con">
					<p class="text-center"></p>
					<!-- <a href="javascript:void(0)">返回上一页</a> -->
					<a href="javascript:void(0)" class="btn-primary btn btn-default btn-block" style="text-align: center;">
						<span class="text-center return" style="height: 25px; padding: 10px; text-align: center; color: white;">返回上一页</span>
					</a>
				</div>
			</div>
			<!-- 尾部固定部分 -->
			<div th:replace="footer:: Footer"></div>

			<script src="./bootstrap/js/jquery.min.js"></script>
			<script src="./bootstrap/js/bootstrap.min.js"></script>
			<script src="./js/account.js"></script>
			<script>
				$('.wd a').css("color", "#f40");
			</script>
	</body>

</html>
